<header>
  <div id="branding">
    <h1>Grind Check</h1>
    <h2>the modern journal</h2>
  </div>
  <nav>
    <img style="display: block" src="../images/menu_inactive.png" class='nav_img' id="inactive">
    <img style="display: none"src="../images/menu_active.png" class="nav_img" id="active">
    <ul style="top: -500px;" id="dropdown">
      <li><a href='{{link_1}}'>{{option_1}}</a></li>
      <li><a href='{{link_2}}'>{{option_2}}</a></li>
      <li><a href='{{link_3}}'>{{option_3}}</a></li>
      <li><a href='{{link_4}}'>{{option_4}}</a></li>
      <li><a id="logout" href='{{link_5}}'>{{option_5}}</a></li>
    </ul>
  </nav>
</header>
