<header>
  <div id="branding">
    <h1>Grind Check</h1>
    <h2>the modern journal</h2>
  </div>
  <nav>
    <ul>
      <li><a href='#'>{{option_1}}</a></li>
      <li><a href='#'>{{option_2}}</a></li>
      <li><a href='#'>{{option_3}}</a></li>
      <li><a href='#'>{{option_4}}</a></li>
      <li><a href='#'>{{option_5}}</a></li>
    </ul>
  </nav>
</header>
